services:
  db:
    container_name: db
    image: mysql:8.0.45
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: next_vibe_template
      MYSQL_USER: next_vibe_template
      MYSQL_PASSWORD: password
    volumes:
      - mysql-data:/var/lib/mysql
      - .docker/mysql/initdb.d:/docker-entrypoint-initdb.d
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin
    ports:
      - 8081:80
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: password
    depends_on:
      - db
volumes:
  mysql-data:
