name: CI

on:
  push:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: ./.github/workflows/composite/setup-node
      - name: Lint
        run: pnpm lint

  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: ./.github/workflows/composite/setup-node
      - name: Format
        run: pnpm fmt

  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: ./.github/workflows/composite/setup-node
      - name: Type check
        run: pnpm type:check
        env:
          SKIP_ENV_VALIDATION: true

  # unit-test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Setup Node
  #       uses: ./.github/workflows/composite/setup-node
  #     - name: Run unit tests
  #       run: pnpm test:unit
  #       env:
  #         SKIP_ENV_VALIDATION: true

  # integration-test:
  #   runs-on: ubuntu-latest
  #   services:
  #     mysql:
  #       image: mysql:8.0.45
  #       env:
  #         MYSQL_ROOT_PASSWORD: password
  #         MYSQL_DATABASE: test
  #         MYSQL_USER: test
  #         MYSQL_PASSWORD: password
  #       ports:
  #         - 3306:3306
  #       options: >-
  #         --health-cmd "mysqladmin ping -h localhost"
  #         --health-interval 10s
  #         --health-timeout 5s
  #         --health-retries 5
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Setup Node
  #       uses: ./.github/workflows/composite/setup-node
  #     - name: Run database migrations
  #       run: pnpm drizzle:migrate
  #       env:
  #         SKIP_ENV_VALIDATION: true
  #         DATABASE_HOST: 127.0.0.1
  #         DATABASE_PORT: 3306
  #         DATABASE_USER: test
  #         DATABASE_PASSWORD: password
  #         DATABASE_NAME_TEST: test
  #     - name: Run integration tests
  #       run: pnpm test:integration
  #       env:
  #         SKIP_ENV_VALIDATION: true
  #         NODE_ENV: test
